
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

html {
  height: 100%;
}

body {
  background-color: #121212;
  font-family: 'Rubik', sans-serif;
  height: 100%;
}

button {
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  white-space: normal;
  vertical-align: middle;
  
  border-radius: 500px;
  border: 1px solid transparent;
  padding: 16px 48px 18px;
}

.btn-login {
  color: #fff;
  background-color: #1db954;
}

.btn-login:hover {
  background-color: #1ed760;
}

.btn-shibe {
  position: fixed;
  right: 16px;
  top: 16px
}

.btn-shibe:hover {
  color: #fff;
  animation: rainbow-background-color 2.5s linear;
  animation-iteration-count: infinite;
}

header {
  background-color: #222;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  height: 30vh;
  max-height: 500px;
  min-height: 340px;
  padding: 0 16px 24px
}

header > img {
  margin-right: 24px;
}

.container {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: 100%;
}

section.login {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

section.login p {
  color: #fff;
  text-align: center;
  font-size: 18px;
  margin: 24px;
}

.header-text {
  display: flex;
  flex-flow: column nowrap;
}

.header-text a, .header-text p {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 20px;
  text-decoration: none;
}

.header-text > h1 {
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  margin-top: 4px;
}

.header-text > h2 > a {
  color: #fff;
  font-size: 72px;
  font-weight: 700;
  letter-spacing: -.04em;
  text-decoration: none;
  line-height: normal;
}

.header-text-caption {
  display: flex;
  flex-flow: row nowrap;
  margin-top: 8px;
}

.header-text-caption a {
  color: #fff;
}

.header-text-caption p {
  margin-left: 4px;
}

.playlists {
  padding: 16px;
}

.playlists a, p {
  color: #b3b3b3;
  font-size: 14px;
  font-weight: 400;
}

.playlists p.playlist-item-name {
  color: #fff;
  font-size: 16px;
}

.playlist-item {
  border-radius: 4px;
  height: 56px;

  display: grid;
  align-items: center;
  grid-gap: 16px;
  grid-template-columns: [index] 16px [first] 6fr [var1] 4fr [var2] 3fr [last] minmax(120px,1fr);
  padding: 0 16px;
}

.playlist-item:hover {
  background-color: rgba(255,255,255,.1);
}

.playlist-item-container {
  display: flex;
  flex-flow: row;
  overflow: hidden;
}

.playlist-item-container img {
  margin-right: 16px;
}

.playlist-item-name-container {
  overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.playlist-item-name-container a {
  display: inline-block;
}

.playlist-item-name {
  display: block;
}


@media (max-width: 960px) {
  .header-text > h2 > a {
    font-size: 48px;
  }

  .playlist-item {
    grid-gap: 16px;
    grid-template-columns: [index] 16px [first] 4fr [var1] 2fr [var2] minmax(80px, 0.5fr);
  }

  .playlist-item-added {
    display: none;
  }
}

@media (max-width: 600px) {
  .header-text > h2 > a {
    font-size: 36px;
  }

  .playlist-item {
    grid-gap: 8px;
    grid-template-columns: [index] 16px [first] 4fr [var1] 2fr [var2] minmax(60px, 0.5fr);
  }

  .playlist-item-added {
    display: none;
  }
}

@keyframes rainbow-background-color {
  100%, 0% {
    background-color: rgb(255,0,0);
  }
  8% {
    background-color: rgb(255,127,0);
  }
  16% {
    background-color: rgb(255,255,0);
  }
  25% {
    background-color: rgb(127,255,0);
  }
  33% {
    background-color: rgb(0,255,0);
  }
  41% {
    background-color: rgb(0,255,127);
  }
  50% {
    background-color: rgb(0,255,255);
  }
  58% {
    background-color: rgb(0,127,255);
  }
  66% {
    background-color: rgb(0,0,255);
  }
  75% {
    background-color: rgb(127,0,255);
  }
  83% {
    background-color: rgb(255,0,255);
  }
  91% {
    background-color: rgb(255,0,127);
  }
}