{% extends 'layout.html' %} {% block content %}

<div class="container">
  <header>
    <img src="{{ img }}" alt="A random image of a Shiba Inu" height=300 width=300>
  
    <div class="header-text">
      <h1>PLAYLIST</h1>
      <h2>
        <a href="{{ playlist.external_urls.spotify }}">{{ playlist.name }}</a>
      </h2>
  
      <p>{{playlist.description}}</p>
  
      <div class="header-text-caption">
        <a href="{{user.profileUrl}}">{{user.displayName}}</a>
        <p>• {{playlist.tracks.items.length}} songs, {{ playlist.duration.hrs }} hr {{playlist.duration.mins }} min</p>
      </div>
    </div>
  </header>

  <section class="playlists">
    <ul>
      {% for item in playlist.tracks.items %}
        <li class="playlist-item" role="row">
          <div role="gridcell">
            <p>{{ loop.index }} </p>
          </div>
          <div class="playlist-item-container" role="gridcell">
            <img src="{{ item.track.album.images[0].url }}" height=40 width=40/>
            <div class="playlist-item-name-container">
              <p class="playlist-item-name">
                {{ item.track.name }}
              </p>
              {% for artist in item.track.artists %}
                {% if loop.index0 > 0 %}<span>, </span>{% endif %}
              <a href="{{ artist.external_urls.spotify }}">
                {{ artist.name }}
              </a>
              {% endfor %}
            </div>
          </div>
          <div role="gridcell">
            <a href="{{ item.track.album.external_urls.spotify }}">
              {{ item.track.album.name }}
            </a>
          </div>
          <div class="playlist-item-added" role="gridcell">
            <p>
              - days ago
            </p>
          </div>
          <div role="gridcell">
            <p>
              {{ item.track.duration }}
            </p>
          </div>
        </li>
      {% endfor %}
    </ul>
  </section>
</div>


<button class="btn-shibe" onclick="window.location.href = '/';">New Shibe</button>
  
{% endblock %}